table {
    border-collapse: collapse;
}

td,
th {
    border: 1px solid black;
    padding: 2px 4px;
}

body {
    background-color: black;
    color: #f5f5f5;
    font-family: Georgia, serif;
    font-size: 10pt;
}

/*přepište barvu základního textu na RGB kód barvy WhiteSmoke a písmo na Georgia, případně obecné patkové velikosti 10pt
*/